{
    "presets": [
        "@babel/preset-env"
    ],
    "env": {
        "test": {
            "plugins": [
                "istanbul"
            ]
        },
        "production": {
            "presets": [
                "minify"
            ]
        }
    }
}